@import "colors";

.card {
  margin: 0 0.5rem;

  .logo-container {
    background-color: $primary-color;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;

    img.logo {
      height: 3rem;
      margin-top: -0.1rem;
      margin-left: -0.3rem;
    }
  }
}
