/* You can add global styles to this file, and also import other style files */
@import "colors";
@import "variables";

html {
  box-sizing: border-box;
  font-size: 16px;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: $surface-d;
  color: $text-color;
  font-family: $font-family;
}
