@import "colors";

header {
  height: 5rem;
  box-shadow: 0 0.15rem 0.15rem rgba(0, 0, 0, 0.4);
  clip-path: inset(0 0 -0.3rem 0);
  background-color: $blue-900;

  .app-logo {
    font-size: 10px;
  }
}
