@import "colors";
@import "variables";

header {
  height: $header-height;
  box-shadow: 0 0.15rem 0.15rem rgba(0, 0, 0, 0.4);
  clip-path: inset(0 0 -0.3rem 0);
  background-color: $blue-900;

  .logo-container {
    cursor: pointer;

    .app-logo {
      font-size: 10px;
    }
  }

  .user-info {
    right: 1rem;
    bottom: 0.25rem;
  }
}
